.table-bordered{
    width: 100%;
    
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    
}

.shadow{
    padding: 20px 35px;
    padding: 25px;
    border-radius: 5px;
    background: #ffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffff;
}


.table {
    background: #fddcdf;
    color: #f65a6f;
    
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
    padding: 20px 35px;
    text-align: center;
    
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    border: 1px solid grey;
}



tr {
    color: #f65a6f;
    width: 20%;
    text-align: left;
   
}

tfoot {
    color: #f65a6f;
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
}

thead {
    color: #f65a6f;
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

th {
    color: #f65a6f;
    text-align: left;
    width: 20%;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}



td {
    color: #f65a6f;
    width: 20%;
}

.h1{
    color: #f65a6f;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffff;
}