.table-bordered{
    width: 100%;
    
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    
}



.table {
    text-align: center;
    color: #2e4a66;;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    border: 1px solid grey;
}



tr {
    color: #2e4a66;;
    width: 20%;
    text-align: left;
    border-bottom: 1px solid grey;
    border-color: 1px solid grey;
}

tfoot {
    color: #2e4a66;
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
}

thead {
    color: #2e4a66;
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

th {
    color: #2e4a66;
    text-align: left;
    width: 20%;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}



td {
    color: #2e4a66;
    width: 20%;
}

.h1{
    color: #2e4a66;
    font-size: 20px;
}