.minicard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    grid-gap: 10px;
    gap: 10px;
    margin-top: 20px;
}

.car{
    text-align: left;
    background: #d1ecf1;
    color: #35a4ba;
    
    padding: 25px;
    border-radius: 5px;
    font-size: 14px;
}